@font-face {
    font-family: 'Sansation';
    src: url(../fonts/Sansation-Regular.woff2) format(woff2);
}
:root{
    --themeColorDark: #386d19;
    --themeColorLight: #70ac22;
    --themeHighlightColor: #335a00;
    --themeContentBGColor: #adadad;
    --themeCardBGColor: #d8d8d8;
    --themeTextShadowColor: #78d104;
}
*{
    font-family: 'Sansation';
    margin: 0;
    padding: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
    list-style: none;
    box-sizing: border-box;
    user-select: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    display: grid;
    grid-template: 200px 1fr / 320px 1fr;
    min-height: 100vh;
}

/* #region HEADER BAR */

#header{
    background: var(--themeColorLight);
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    display: grid;
    grid-template: 1fr 1fr / 3fr minmax(min-content, 1fr);
    padding: 10px 30px;
    align-items: center;
    box-shadow: 0 0 15px 0 #000;
    z-index: 9;
}
#search{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#search img{
    width: 40px;
}
#search img:hover{
    transform: scale(1.2);
}
#search img:active{
    transform: scale(1);
}
#search>input{
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: var(--themeColorDark);
    font-weight: 900;
}
#search>input:focus{
    outline: 1px solid var(--themeCardBGColor);
    box-shadow: 0 0 10px 0 #000;
}
#userActions{
    grid-area: 2 / 2 / -1 / -1;
    display: flex;
    justify-content: space-around;
}
.userAction{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    margin-left: 10px;
    background: radial-gradient( farthest-side at 20px 10px,
        var(--themeColorLight),
        var(--themeColorDark)
    );
    border: none;
    font-size: 1.1rem;
    font-weight: 900;
    outline: 2px solid var(--themeHighlightColor);
    cursor: pointer;
}
.userAction:hover{
    font-size: 1.2rem;
    box-shadow: 0 0 10px 0 #000;
}
.userAction:active{
    box-shadow: 0 0 0 0 #000;
    outline: 2px inset var(--themeHighlightColor);
}

#userGreet{
    display: grid;
    grid-template: 1fr 1fr / min-content 1fr;
}
#userGreet>p:nth-of-type(1){
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    align-self: flex-end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#userGreet>p:nth-of-type(2){
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 900;
    font-size: 1.3rem;
}
#userGreet>p:nth-of-type(2)>span{
    font-weight: 500;
    font-size: 1rem;
}
#userGreet>img{
    width: 75px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-right: 20px;
}

#userNotify{
    grid-area: 1 / 2 / 2 / -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#userNotify>a:nth-of-type(1)>img{
    width: 30px;
}
#userNotify>a:nth-of-type(2)>img{
    width: 50px;
}
#userNotify>a:hover{
    scale: 1.2;
}
#userNotify>a:active{
    scale: 1;
}
#userNotify>p{
    font-size: 1.3rem;
    font-weight: 900;
}

/*#endregion*/

/* #region NAVIGATION BAR */

#nav{
    background: linear-gradient(
        90deg,
        var(--themeColorDark),
        var(--themeColorLight),
        var(--themeColorDark)
    );
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    padding: 20px;
    box-shadow: 0 -5px 15px 0 #000;
    z-index: 10;
}
#pageTitle, #nav li a{
    display: flex;
    align-items: center;
}
#nav li a:hover{
    text-shadow: 1px 1px #000;
}
#nav li a:active{
    text-shadow: none;
}
#pageTitle>h1{
    font-size: 1.5rem;
}
.navIconBox{
    width: 60px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.navGroup{
    margin-top: 30px;
}
.navGroup>ul>li{
    width: min-content;
    font-size: 1.3rem;
}
#nav li img {
    width: 40px;
}

/* #endregion */

/* #region CONTENT BOX */

#content{
    background-color: var(--themeContentBGColor);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 10px 20px;
    align-items: start;
}
.sectionLabel{
    padding-bottom: 10px;
    font-size: 1.2rem;
}
#projectsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    grid-row: 1/-1;
    gap: 20px;
}
.projectCard{
    overflow: hidden;
    background-color: var(--themeCardBGColor);
    padding: 15px 15px 30px;
    border-radius: 15px;
    border-left: solid 8px;
    border-color: var(--themeHighlightColor);
    display: flex;
    flex-direction: column;
}
.projectCard>a>h3{
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.projectCard>a>h3:hover{
    text-shadow: 1px 1px #000;
}
.projectCard>a>h3:active{
    text-shadow: none;
}
.projectCard>p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
}
.projectCardLinks{
    display: flex;
    align-self: flex-end;
    margin-top: auto;
    gap: 15px;
}
.projectCardLinks>a:hover{
    scale: 1.2;
}
#sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 2/-1;
    grid-row: 1/2;
    position: sticky;
    height: calc(100vh - 220px);
}
#announcements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--themeCardBGColor);
    border-radius: 10px;
    padding: 20px;
    height: 300px;
}
.announcement{
    overflow: hidden;
}
.announcement>h2{
    font-size: 1.2rem;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.announcement>p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 1.1rem;
}
#announcements>a:hover h2{
    text-shadow: 1px 1px #000;
}
#announcements>a:active h2{
    text-shadow: none;
}
#announcements hr{
    margin: 10px;
    border-color: #000;
}
#trending{
    background-color: var(--themeCardBGColor);
    border-radius: 10px;
    padding: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trendingItem{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    overflow: hidden;
}
.trendingItem+.trendingItem{
    margin-top: 10px;
}
.trendingItem>p:nth-of-type(1){
    font-weight: 900;
    grid-column: 2/-1;
    grid-row: 1/2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trendingItem>p:nth-of-type(2){
    grid-column: 2/-1;
    grid-row: 2/3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trendingAvatar{
    width: 50px;
    height: 50px;
    overflow: hidden;
    grid-row: 1/-1;
    grid-column: 1/2;
    margin-right: 15px;
}
.trendingItem>.trendingAvatar>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#trending>a:hover p:nth-of-type(2){
    font-weight: 900;
}
#trending>a:active p:nth-of-type(2){
    font-weight: 500;
}
/* #endregion */