@font-face {
    font-family: 'Sansation';
    src: url(../fonts/Sansation-Regular.woff2) format(woff2);
}
*{
    font-family: 'Sansation';
    margin: 0;
    padding: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 1rem;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    display: grid;
    grid-template: max(200px, 25vh) 1fr / 320px 1fr;
    min-height: 100vh;
}
#header{
    background-color: aqua;
    grid-row: 1 / 2;
    grid-column: 2 / -1;
}
#nav{
    background-color: blueviolet;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    padding: 20px;
}
#pageTitle, #nav li a{
    display: flex;
    align-items: center;
}
.navIconBox{
    width: 60px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
#nav li img {
    width: 40px;
}
.navGroup{
    margin-top: 30px;
}
#nav li{
    width: min-content;
    font-size: 1.3rem;
}
#content{
    background-color: brown;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 10px 20px;
}
    .sectionLabel{
        padding-bottom: 10px;
    }
        #projectsGrid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
            grid-auto-rows: minmax(300px, 1fr);
            gap: 20px;
        }
            .projectCard{
                overflow: hidden;
                background-color: aliceblue;
                padding: 15px 15px 30px;
                border-radius: 15px;
                border-left: solid 8px;
                display: flex;
                flex-direction: column;
            }
                .projectCard>h3{
                    font-size: 1.3rem;
                    font-weight: 900;
                    margin-bottom: 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .projectCard>p{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 7;
                    line-clamp: 7;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 1.2rem;
                }
                .projectCardLinks{
                    display: flex;
                    align-self: flex-end;
                    margin-top: auto;
                    gap: 15px;
                }
    #sidebar{
        display: flex;
        flex-direction: column;
        gap: 20px;
        grid-column: 2/-1;
        grid-row: 1/-1;
        height: 100%;
    }
        #announcements{
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 20px;
    }
        .announcement{
            overflow: hidden;
        }
            .announcement>h2{
                font-size: 1.2rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .announcement>p{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                font-size: 1.1rem;
            }
            #announcements hr{
                margin: 10px;
            }
    #trending{
        background-color: aliceblue;
        border-radius: 10px;
        padding: 15px;
    }
        .trendingItem{
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-template-rows: 1fr 1fr;
            align-items: center;
            overflow: hidden;
        }
            .trendingItem+.trendingItem{
                margin-top: 10px;
            }
            .trendingItem>p:nth-of-type(1){
                font-weight: 900;
                grid-column: 2/-1;
                grid-row: 1/2;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .trendingItem>p:nth-of-type(2){
                grid-column: 2/-1;
                grid-row: 2/3;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
                .trendingAvatar{
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    grid-row: 1/-1;
                    grid-column: 1/2;
                    margin-right: 15px;
                }
                .trendingItem>.trendingAvatar>img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }