@font-face {
    font-family: 'Sansation';
    src: url(../fonts/Sansation-Regular.woff2) format(woff2);
}
*{
    font-family: 'Sansation';
    margin: 0;
    padding: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    display: grid;
    grid-template: max(200px, 25vh) 1fr / 400px 1fr;
    height: 100vh;
}
#header{
    background-color: aqua;
    grid-row: 1 / 2;
    grid-column: 2 / -1;
}
#nav{
    background-color: blueviolet;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
}
    #pageTitle>img{ grid-column: 1/2;}
    #pageTitle>h1{
        font-size: 2.5rem;
    }
    #nav>ul{
        margin-top: 40px;
        grid-column: 1/2;
    }
        #nav>ul>li{
            font-size: 1.4rem;
        }
            #nav>ul>li>a{
                display: flex;
                align-items: center;
                gap: 20px;
            }
#content{
    background-color: brown;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 10px 20px;
}
    .sectionLabel{
        padding-bottom: 10px;
    }
    #projects{
        
    }
        #projectsGrid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
            grid-auto-rows: minmax(300px, 1fr);
            gap: 20px;
        }
            .projectCard{
                overflow: hidden;
                background-color: aliceblue;
                padding: 15px 15px 30px;
                border-radius: 15px;
                border-left: solid 8px;
                display: flex;
                flex-direction: column;
            }
                .projectCard>h3{
                    font-size: 1.3rem;
                    margin-bottom: 10px;
                }
                .projectCard>p{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 7;
                    line-clamp: 7;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 1.2rem;
                }
                .projectCardLinks{
                    display: flex;
                    align-self: flex-end;
                    margin-top: auto;
                    gap: 15px;
                }

    #announcements{
        display: flex;
        flex-direction: column;
    }
        .announcement{
            overflow: hidden;
        }
            .announcement>p{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
    #trending{

    }